@charset "uft-8";

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
    padding: 20px 0;
}

h1, h2 {
    margin: 0;
    padding: 34px 0 14px 40px;
}

nav > ul {
    background-color: rgb(171, 232, 189);
    list-style: none;   
    margin: 0;
    padding: 0;
}

nav a {
    color: inherit; 
    display: block; 
    font-size: 1.2rem;
    padding: 5px;
    text-decoration: none; 
}

nav a:hover {
    background-color: rgb(115, 115, 115);
    color: white;
}

body{
    background-color: rgb(242, 244, 121);
    background-image: url(img/204.jfif);
    background-repeat: repeat-x;
    color:rgb(45, 13, 151);
    margin: 0px auto;
}
h1{
    width: 500px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #095232;
    border-bottom: 50%;
    text-shadow: 1px 1px 2px #377630;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-image: linear-gradient(to bottom, #bad3c8, #76c6a4);
    background-color: #ceea67;
    color:rgb(27, 14, 124);
    font-size: 230%;
    line-height: 1;
}
main{
    width: 980px;
    background-color: rgb(237, 239, 222);
    margin:0px auto;
    padding:40px 80px;
    border: 1px solid #f6bb9e;
}
h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 5px dotted #94c8b1;
    border-left: 10px solid #d0e35b;
    border-right: 10px solid #d0e35b;
    color: #9fbd31
}
.round{
    border-bottom: 50%;
}
h1,header,nav,footer{
    
    text-align: center;
}